@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: black;
}
h1{
  text-align: left;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a[data-fancybox] img {
  cursor: zoom-in;
}
.overlay {
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 10%;
  transition: .5s ease;

}

.div-1a:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 300%;

}
.overlay2 {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 40px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 10%;
  transition: .5s ease;

}

.div-1b:hover .overlay2 {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 300%;

}
.overlay3 {
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 50px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 10%;
  transition: .5s ease;

}

.div-1c:hover .overlay3 {
  opacity: 1;
}

.text3 {
  color: white;
  font-size: 300%;

}
.overlay4 {
  position: absolute;
  top: -35px;
  bottom: 0;
  left: 175px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 10%;
  transition: .5s ease;

}

.div-1d:hover .overlay4 {
  opacity: 1;
}
.text4 {
  color: white;
  font-size: 300%;
  text-align: center;
  position: relative;
  bottom: 40%;
  right:10%;
}
@keyframes glitch{
  2%,64%{
    transform: translate(5px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-5px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(5px,-5px);
  }
  4%,60%{
    transform: translate(-5px,5px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-5px,0);
  }
  4%,60%{
    transform: translate(-5px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
.glitch2 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch2 span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch2 span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch2 span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch{
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.main{
  display: flex;
  background:black;
  align-items:center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  width:100%;
  height:900px;
}
.div-1{
  display: flex;
  justify-content: flex-end;
}
.div-1a{
  font-size:100%;
  text-align:center;
  position:relative;
  right: 330px;
  bottom: 310px;
  color:white;
  text-decoration: none;
}
.div-1b{
  font-size:100%;
  text-align:center;
  position:relative;
  right: 380px;
  bottom: 175px;
  color:white;
  text-decoration: none;
}
.div-1c{
  font-size:100%;
  text-align:center;
  position:relative;
  right: 430px;
  top: 80px;
  color:white;
  text-decoration: none;
}
.div-1d{
  font-size:100%;
  text-align:center;
  position:relative;
  right: 490px;
  top: 220px;
  color:white;
  text-decoration: none;
}
.main2{
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
  align-items:left;
  font-family: 'Poppins', sans-serif;

}
.main2a{
  position: relative;
  width:100%;
  left: 5vh;
  right: 0;
  top: 35vh;
  bottom: 0;
  font-size: 140%;
}
.div-2{
  font-size: 80%;
  position: relative;
  width:100%;
  left: -1vh;
  right: 0;
  top: -2vh;
  bottom: 0;
}

.div-3{
  display:flex;
  align-items: center;
  width:100%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.div-4{
  display:flex;
  justify-content:center;
  align-items:center;
  background-position: center center;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:auto;
}
.div-4a{
  animation: glitch 1s linear infinite;
  font-size:500%;
  position: relative;
  left: -10vh;
  right: 0;
  top: -10vh;
  bottom: 0;
  color:white;
}
.div-4b{
  animation: glitch 1s linear infinite;
  font-size:400%;
  position: relative;
  left: 40vh;
  right: 0;
  top: 30vh;
  bottom: 0;
  color:white;
}
.div-4c{
  animation: glitch 1s linear infinite;
  font-size:300%;
  position: relative;
  left: -20vh;
  right: 0;
  top: 40vh;
  bottom: 0;
  color:white;
}
.div-5{
  display:flex;
  justify-content:center;
  align-items:center;
  background-position: center center;
  position: relative;
  left: 0vh;
  right: 0;
  top: 33vh;
  bottom: 0;
  width:100%;
  height:auto;
}
.main3{
  background: black;
  display: flex;
  justify-content: center;
  align-items: left;
}


#munlight {
  width:160%;
  object-fit: cover;
  display:flex;
  align-items: center;
}

.main3a{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  color:white;
  position:relative;
  left: 0vh;
  right: 0;
  top: -60vh;
  bottom: 0;
}
.main3b{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  position:relative;
  left: 0vh;
  right: 0;
  top: -40vh;
  bottom: 0;
  font-size: 300%;
  color:black;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  text-decoration-line:underline;
  padding-top:30px;
  padding-bottom: 30px;
}
.main3b1{

  display:flex;
  align-items: center;
  text-align: left;
  position:relative;
  font-size: 120%;
  left: 7vh;
  right: 0;
  top: -85vh;
  bottom: 0;
  color:white;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding-right: 50px;
  width:30%;
}
.main3b2{
  position:relative;
  left: -15vh;
  right: 0;
  top: -78vh;
  bottom: 0;
  width:35%;
  color:black;
  font-size:90%;
}
.main3c1{
  position:relative;
  left: 0vh;
  right: 0;
  top: 20vh;
  bottom: 0;
}
.main3c2{
  animation: glitch 1s linear infinite;
  position:relative;
  left: 0vh;
  right: 0;
  top: 30vh;
  bottom: 0;
  font-size:350%;
  width:50%;
  text-align: right;

}
.main3c{
  display:flex;
  justify-content: space-around;
  align-items:center;
  text-align: center;
  color:white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1px;
  position:relative;
  left: 0vh;
  right: 0;
  top: -280vh;
  bottom: 0;
}
.main3d{

  color:white;
  font-size: 400%;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  position:relative;
  left: 0vh;
  right: 0;
  top: -75vh;
  bottom: 0;
  background-image: url("static.gif");
  background-position:center center;
  padding-top: 50px;
  padding-bottom:50px;
}
.main3e{
  color:white;
  font-size: 100%;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  display:flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 25px;
}
.main2e{
  color:white;
  font-size: 100%;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  display:flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 25px;
  position: relative;
  left: 0vh;
  right: 0;
  top: 33vh;
  bottom: 0;
  width:100%;
  height:auto;
}

.main4{
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
  align-items:left;
}
.main4h{
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
  align-items:left;
  flex-direction:column;
  padding-right: 5px;
  width:100%;
}
.main4a{
  font-family: 'Poppins', sans-serif;
  position: relative;
  width:100%;
  left: 0;
  right: 0;
  top: 50vh;
  bottom: 0;
  font-size: 120%;
}
.main4g{
  font-family: 'Poppins', sans-serif;
  position: relative;
  width:100%;
  left: 0;
  right: 0;
  top: -30vh;
  bottom: 0;
  font-size: 500%;
}
.main4b{
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:100%;
  height:auto;
}
.main4c{
  display:flex;
  justify-content:center;
  align-items:center;
  background-position: center center;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:auto;
}
.main4d{
  animation: glitch 1s linear infinite;
  display:flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 500%;
  color:white;
  font-family: 'Poppins', sans-serif;
}
.main4d1{
  width:100%;
  height:auto;
  position: relative;
  left: 2vh;
  top: 10vh;
}
.main4e{
  padding-left:50px;
  color:pink;
  position: relative;
  left: -15vh;
  right: 0;
  top: -40vh;
  bottom: 0;
  width:100%;
}
.main4f{
  display:flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  width:100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 100%;
  color:white;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
.main5{
 background-image: url("static.gif");
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left:5px;
  padding-right: 5px;
  padding-top: 30px;
  position: relative;
  left: 0;
  right: 0;
  top: 10vh;
  bottom: 0;
}
.main5b{
  font-size: 400%;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center

}
.main5a{
  font-size: 150%;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: -5vh;
  bottom: 0;
}
.main6{
  display:flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 25vh;
  bottom: 0;
}
.main7{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
  left: 60vh;
  right: 0;
  top: -53vh;
  bottom: 0;
  width:30%;
}
.main8{
  background-position: center center;
  display:flex;
  align-items: left;
  justify-content: space-around;
  font-size: 150%;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 25vh;
  bottom: 0;
}
.main8a{
  display:flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  position: relative;
  left: 0;
  right: 0;
  top: -5vh;
  bottom: 0;
  width:50%;
}
.main8c{
animation: glitch 1s linear infinite;
font-size: 200%;
color: pink;
}
.main8b{
  color: white;
  font-size:90%;
  position: relative;
  left: 0;
  right: 0;
  top: -5vh;
  bottom: 0;
}
.main9{
  display:flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 12vh;
  bottom: 0;
}


#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 100vh;
  bottom: 0;
  z-index: -1;
}

#myVideo2 {
  width: 60vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 70vh;
  right: 0;
  top: 115vh;
  bottom: 0;
  z-index: -1;
}
